<form>
<h1 style="color:brown;style="color:brown;"> Article title </h1>
<h2><%= @article.title %></h2>
<h1 style="color:brown;"> Article body </h1>
<h3><%= @article.body %></h3>
<%= link_to 'Back', :back %>
</form>